<%- include('partials/header.ejs') %>
<h1>Home</h1>
<p><%= homeStartingContent%></p>
<% posts.forEach(element => { %>
    <h2><%= element.title %></h2>
    <p><%= element.body %></p>
    <%
}) %>

<%- include('partials/footer.ejs') %>